@import "tailwindcss";

@theme {
    --font-sans: Arial, Helvetica, sans-serif;
}

[data-icon] > svg {
    height: 100%;
    width: 100%;
}

.modebar-btn {
    padding: 6px !important;
}

.modebar-btn svg {
    width: 24px !important;
    height: 24px !important;
}
